@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
html{
  direction: rtl;
}
section{
  background-image: url(assets/bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
section .container{
  width: 680px;
  background: #332a224a;
  backdrop-filter: blur(10px);
  padding: 30px 20px;
  margin-right: 15%;
  border-radius: 10px;
  border: 1px solid #d7d7d74e;
} 
section .top_sec{
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #d7d7d74e;
  margin-bottom: 1.5rem;
}
section .top_sec select{
  width: 250px;
  border-radius: 5px; 
  outline: none;
  padding: 2px 10px;
  background: #a54f3a;
  color: white;
  font-size: 22px;
  margin-top: 10px;
}
section .top_sec .date{
  width: 250px;
}
section .top_sec h3 , section .top_sec .date h4{
  font-size: 26px;
  color: white;
}

section .prayer{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background: #a54f3a;
  padding: 5px 25px;
  margin-bottom: 25px;
  color: white;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  section{
  background-image: url(assets/bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
}
section .container{
  width: 300px;
  background: #332a224a;
  backdrop-filter: blur(10px);
  padding: 30px 20px;
  margin-right: 15%;
  border-radius: 10px;
  border: 1px solid #d7d7d74e;
} 

section .top_sec select{
  width: 120px;
  border-radius: 5px; 
  outline: none;
  padding: 2px 10px;
  background: #a54f3a;
  color: white;
  font-size: 22px;
  margin-top: 10px;
}
section .top_sec h3 , section .top_sec .date h4{
  font-size: 20px;
  color: white;
}
section .top_sec .date{
  width: 120px;
}
}
